@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(94, 61, 146);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

body.bg {
  background-color: rgba(0, 0, 0, 0.925);
}

header,
bottom {
  margin: 5% 0;
}

header h1 {
  color: #fff;
}

main {
  height: max-content;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  margin: 16px 0;

}
form {
  padding: 32px;
}

.hero {
  height: 20%;
  width: 60%;
  display: flex;
  margin: 16px;
}
.create_sc {
  padding: 16px 32px;
  font-size: 18px;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.856);
  background-color: rgba(21, 167, 70, 0.7);
  border-radius: 6px;

  transition: 400ms;

}
.create_sc:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 167, 70);
}


.add_btn {
  min-height: 80px;
  min-width: 80px;

  text-decoration: none;
  color: #fff;

  border: solid rgb(51, 51, 51) 1px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
  background-size: 80px 80px;
}

.add_btn:hover {
  transform: scale(1.1);
}

.shortcut_container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.delete_btn {
  transform: scale(0.8);

  margin: -8px 8px;
  cursor: pointer;

  transition: 400ms;
}

.delete_btn:hover {
  margin: -8px 8px;

  transform: scale(0.9)
}


/* MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL*/
.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 10;
}
.modal-overlay.hide {
  opacity: 1;
  visibility: visible;
}

.modal {
  height: 300px;
  width: 380px;
  background-color: #fff;

  border: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50;
}

.modal  {
  margin: 10%;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal input {
  padding: 16px 32px;
  margin: 8px 0;
  display: inline-block;
  border: 1.5px solid #000;
  box-sizing: border-box;
  text-align: center;

  font-size: 18px;
  font-weight: bold;
}
.modal input,
input[type="submit"] {
  font-size: 14px;
  height: 24px;
  margin: 16px;
  border-radius: 6px;
}
.modal input[type="text"]::placeholder {
  text-align: center;
}
.input-group.actions {
  margin-top: 32px;
}

.input-group.actions a,
.nossa {
  padding: 12px 32px;
  text-decoration: none;
  cursor: pointer;
  
}
.input-group.actions a {
  color: rgb(95, 94, 94);
  font-weight: 500;

}

.input-group.actions button.nossa {
  background-color: rgb(5, 161, 44);
  color: rgb(5, 161, 44);
  font-size: 16px;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.685);
  border-radius: 12px;
  font-weight: bold;

}
/* FIM MODAL FIM MODAL FIM MODAL FIM MODAL FIM MODAL*/
