@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(43, 2, 107);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header,
bottom {
  margin: 3% 0;
}

main {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80%;
  width: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.square-btn {
  height: 4rem;
  width: 4rem;

  background-color: #fff;
  border: 2px solid black;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.square-btn i{
    font-size: 2rem;
}

.modal {
  height: 260px;
  width: 380px;
  background-color: #fff;

  border: #fff;
  border-radius: 6px;
  
  display: none;
}
.modal fieldset{
  margin: 10%;

  display: flex;
  flex-direction: column;
  text-align: center;


}

.modal fieldset h2{
  
}
.modal fieldset input, button{
  font-size: 14px;
  height: 24px;
  margin: 16px;
  border-radius: 6px;
  border: 2px solid #000;
}
.modal fieldset input[type="text"]::placeholder {  
  text-align: center;
}

.modal button {
  background: rgb(199, 199, 199);
  height: 32px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}